<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détection SPAM / HAM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="background"></div>

    <div class="app">
        <h1 class="title">Détection de SMS</h1>
        <p class="subtitle">Analyse automatique SPAM / HAM </p>

        <div class="card">
            <form method="POST">
                <textarea name="message" placeholder=" Entrez votre message ici..." required>{{ message }}</textarea>
                <button type="submit"> Analyser le message</button>
            </form>

            {% if prediction %}
            <div class="result {{ prediction }}">
                <h2>{{ prediction }}</h2>
                <p>Detection : <strong>{{ confiance }} %</strong></p>
            </div>
            {% endif %}
        </div>

        <footer>
           Un SMS, un clic, la vérité
        </footer>
    </div>

</body>
</html>
